<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">

<div class="dashboard-header">
    <div class="container">
        <h5 class="user">User's Dashboard</h5>
    </div>
</div>

<div class="container img-thumbnail">
    <% if(currentUser){ %>
    <p class="text-right"><strong>Welcome <%= foundUser.firstName %> <%= foundUser.lastName %>.
    <% var sum = 0; %>
     You current total Balance is: <% foundUser.cards.forEach(function(cards){ %>
        <%    sum = cards.money + sum; %>
        <% }) %>
        <span style="font-size: 20px;"><%= sum %> /-.</span>
        Your future Balance will be:
        <% var total %>
        <% total = ((sum * 2)/100) + sum %>
        <span style="font-size: 20px;"><%= total %> /-.</span></strong>
    </p>
    <p>Internet Banking System - Users Dashboard</p>
    <div class="container">
        <a href="/member/<%= foundUser._id %>/adhar/update">Update Adhar Card</a>
        <a href="/member/<%= foundUser._id %>/balance">Show Estimated Balance</a>
        <a href="/member/<%= foundUser._id %>/cards">Show all Accounts</a>
        <a href="/member/<%= foundUser._id %>/cards/new">Add new Account</a> 
        <a href="#">All Transactions</a>
        <a href="/logout">Logout</a>      
    </div>

    <% } else { %>
    <p>no user</p>
    <% } %>
</div>



<% include ../partials/footer %>

<!--    <a href="#">Loan Application</a>
        <a href="#">Bill Payments</a>
        <a href="#">Nearby ATM</a>
        <a href="#">Insurance</a> -->